// Gruvbox Dark

// Dark Background
$gd-bg0: #282828;
$gd-bg0-h: #1d2021;
$gd-bg0-s: #32302f;
$gd-bg1: #3c3836;
$gd-bg2: #504945;
$gd-bg3: #665c54;
$gd-bg4: #7c6f64;

// Dark Foreground
$gd-fg0: #fbf1c7;
$gd-fg1: #ebdbb2;
$gd-fg2: #d5c4a1;
$gd-fg3: #bdae93;
$gd-fg4: #a89984;

// Dark Colors
$gd-bright-purple: #d3869b;
$gd-bright-green: #b8bb26;
$gd-bright-red: #fb4934;
$gd-bright-blue: #83a598;
$gd-bright-aqua: #8ec07c;
$gd-bright-yellow: #fabd2f;
$gd-bright-orange: #fe8019;
$gd-bright-gray: #928374;
$gd-purple: #b16286;
$gd-green: #98971a;
$gd-red: #cc241d;
$gd-blue: #458588;
$gd-aqua: #689d6a;
$gd-yellow: #d79921;
$gd-orange: #d65d0e;
$gd-gray: #928374;

// Gruvbox Light

// Light Background
$gl-bg0: #fbf1c7;
$gl-bg0-h: #f9f5d7;
$gl-bg0-s: #f2e5bc;
$gl-bg1: #ebdbb2;
$gl-bg2: #d5c4a1;
$gl-bg3: #bdae93;
$gl-bg4: #a89984;

// Light Foreground
$gl-fg0: #282828;
$gl-fg1: #3c3836;
$gl-fg2: #504945;
$gl-fg3: #665c54;
$gl-fg4: #7c6f64;

// Light Colors
$gl-bright-purple: #b16286;
$gl-bright-green: #98971a;
$gl-bright-red: #cc241d;
$gl-bright-blue: #458588;
$gl-bright-aqua: #689d6a;
$gl-bright-yellow: #d79921;
$gl-bright-orange: #fe8019;
$gl-bright-gray: #d65d0e;
$gl-purple: #8f3f71;
$gl-green: #79740e;
$gl-red: #9d0006;
$gl-blue: #076678;
$gl-aqua: #427b58;
$gl-yellow: #b57614;
$gl-orange: #af3a03;
$gl-gray: #928374;
