// Imports
@use 'gruvbox' as *;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

// Variables
$font-stack: 'Fira Mono', monospace;

// General
body {
    font: 100% $font-stack;
    font-weight: 400;
    font-size: 16px;
}
